<body>
    <div class="menu">
        <h2>SIGH</h2>
        <p>Sistema Integrado de Gestión Humana</p>
        <a routerLink="/empleados">Registrar empleado</a>
        <a href="">Consultar empleado</a>
        <a href="">Colilla de pago</a>
        <a href="">Seguimiento y gestión de competencias</a>
        <a href="">Permisos de salida</a>
        <a href="">Certificados</a>
        <a href="">Bienestar social</a>
        <a href="">Hoja de vida</a>
        <button type="button" class="btn btn-danger" routerLink="/login">Salir</button>
    </div>
</body>