body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu a:hover {
    background-color: #575757;
}
.content {
    margin-left: 250px; 
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-row {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}
.form-group {
    flex: 1;
    min-width: 150px;
}
.form-group label {
    display: block;
    color: #000000;
    font-size: small;
}
.form-group input,select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.form-group button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4da78c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-hijo {
    display: flex;
    gap: 5px;
    align-items: center;
}
span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: crimson;
}